

services:

  postgres-auth:
    image: postgres:15
    environment:
      POSTGRES_DB: auth
      POSTGRES_USER: auth
      POSTGRES_PASSWORD: auth123
    volumes:
      - ./auth-service/db:/docker-entrypoint-initdb.d
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U auth"]
      interval: 5s
      timeout: 5s
      retries: 5

  postgres-flag:
    image: postgres:15
    environment:
      POSTGRES_DB: flag
      POSTGRES_USER: flag
      POSTGRES_PASSWORD: flag123
    volumes:
      - ./flag-service/db:/docker-entrypoint-initdb.d
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U flag"]
      interval: 5s
      timeout: 5s
      retries: 5

  postgres-targeting:
    image: postgres:15
    environment:
      POSTGRES_DB: postegress-targeting
      POSTGRES_USER: targeting
      POSTGRES_PASSWORD: targeting123
    volumes:
      - ./targeting-service/db:/docker-entrypoint-initdb.d
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U targeting"]
      interval: 5s
      timeout: 5s
      retries: 5

  redis:
    image: redis
    ports:
      - "6379:6379"

  dynamodb:
    image: amazon/dynamodb-local
    command: "-jar DynamoDBLocal.jar -sharedDb"
    ports:
      - "8000:8000"

  sqs:
    image: softwaremill/elasticmq
    ports:
      - "9324:9324"
      - "9325:9325"

  auth:
    build: ./auth-service
    environment:
      DATABASE_URL: postgres://auth:auth123@postgres-auth:5432/auth?sslmode=disable
      MASTER_KEY: admin-secreto-123
    ports:
      - "8001:8001"
    depends_on:
      postgres-auth:
        condition: service_healthy

  flag:
    build: ./flag-service
    environment:
      DATABASE_URL: postgres://flag:flag123@postgres-flag:5432/flag?sslmode=disable
      AUTH_SERVICE_URL: http://auth:8001
    ports:
      - "8002:8002"
    depends_on:
      postgres-flag:
        condition: service_healthy
      auth:
        condition: service_started

  targeting:
    build: ./targeting-service
    environment:
      DATABASE_URL: postgres://targeting:targeting123@postgres-targeting:5432/targeting?sslmode=disable
      AUTH_SERVICE_URL: http://auth:8001
    ports:
      - "8003:8003"
    depends_on:
      postgres-targeting:
        condition: service_healthy
      auth:
        condition: service_started

  evaluation:
    build: ./evaluation-service
    environment:
      REDIS_URL: redis://redis:6379
      FLAG_SERVICE_URL: http://flag:8002
      TARGETING_SERVICE_URL: http://targeting:8003
      AUTH_SERVICE_URL: http://auth:8001
      SERVICE_API_KEY: tm_key_080432905a087008eb69902e12ffa6f44f239321a8939303090082f3c2969a8e
      AWS_SQS_URL: http://localhost:9324/000000000000/togglemaster-events

      AWS_REGION: us-east-1
      AWS_ACCESS_KEY_ID: dummy
      AWS_SECRET_ACCESS_KEY: dummy
      AWS_SQS_ENDPOINT: http://sqs:9324
    ports:
      - "8004:8004"
    depends_on:
      - redis
      - flag
      - targeting

  analytics:
    build: ./analytics-service
    environment:
      AWS_ACCESS_KEY_ID: dummy
      AWS_SECRET_ACCESS_KEY: dummy

      AWS_REGION: us-east-1
      AWS_SQS_URL: http://sqs:9324/queue/togglemaster-events
      AWS_SQS_ENDPOINT: http://sqs:9324

      DYNAMODB_ENDPOINT: http://dynamodb:8000
      DYNAMODB_TABLE: analytics
    depends_on:
      - sqs
      - dynamodb
