apiVersion: apps/v1
kind: Deployment
metadata:
  name: evaluation
  namespace: evaluation
spec:
  replicas: 2
  selector:
    matchLabels:
      app: evaluation
  template:
    metadata:
      labels:
        app: evaluation
    spec:
      serviceAccountName: minha-app-sa
      containers:
        - name: evaluation
          image: 637423262039.dkr.ecr.us-east-1.amazonaws.com/tech-challenge/evaluation-service:latest
          ports:
            - containerPort: 8004
          resources:
            limits:
              cpu: "1"
              memory: 512Mi
            requests:
              cpu: 200m
              memory: 256Mi
          envFrom:
            - secretRef:
                name: evaluation-secrets
            - secretRef:
                name: aws-credentials
          env:
            - name: REDIS_URL
              valueFrom:
                secretKeyRef:
                  name: redis-secret
                  key: REDIS_URL